<h2 class="page-header">Search Rarity</h2>
<form action="/rarities" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<% authors.forEach(rarity => { %>
  <div class="rarity-row">
    <div class="rarity-name"><%= rarity.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/rarities/<%= rarity.id %>">View</a>
      <a class="btn btn-primary" href="/rarities/<%= rarity.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm',
                  { url: `/rarities/${rarity.id}` }) %>
    </div>
  </div>
<% }) %>